.timer-container {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
  }
  
  .length-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .timer {
    margin-bottom: 20px;
  }
  
  .controls button {
    margin-right: 10px;
  }
  
  .controls button:last-child {
    margin-right: 0;
  }
  